<% if @result.present? || @query_execution&.success? %>
  <div class="results-section">
    <%= render "results_info" %>
    
    <% if @result.present? %>
      <%= render "chart_view" %>
      <%= render "stats_view" %>
      <%= render "table_view" %>
    <% end %>
    
    <% if @query_execution&.includes_execution? && @query_execution.has_result_data? %>
      <%= render "execution_table_view", execution: @query_execution %>
    <% end %>
    
      <% if @query_execution&.has_plan_data? %>
    <%= render "plan_view", execution: @query_execution %>
    <%= render "perf_view", execution: @query_execution %>
    <%= render "visual_view", execution: @query_execution %>
  <% end %>
  </div>
<% elsif flash.now[:alert] %>
  <div class="results-section">
    <div class="error-message">
      <span class="error-icon">⚠️</span>
      <strong>Error:</strong> <%= flash.now[:alert] %>
    </div>
  </div>
<% end %>
